// App UI 
.main {
	overflow: hidden;
}

.page {
	&__wrapper {
		background-color: $c-black;
		min-height: 100vh;
		position: relative;
		z-index: 2;
		box-shadow: -11px 0px 5px -5px rgba(0,0,0,0.2);
		transition: all 0.3s ease;
		
		&.is-active {
			transform: translateX(200px);
			
			@media(max-width: 767px) {
				transform: translateX(50%);
			}
		}
	}	
  
  &__blocks-wrapper {
    display: flex;
    flex-wrap: wrap;
  }	
}

.section__container {
	width: 50%;
	margin: 0 auto;
	
	@media(max-width: 767px) {
		width: auto;
		margin: 0 20px;
	}
}

.section__content {
	padding: 40px 0;
}