// Buttons 
.button {
  font-size: 12px;
	padding: 10px;
  border-radius: 5px;
  border: none;
  color: $c-black;
  cursor: pointer;
  
  &:disabled {
    cursor: not-allowed;
  }
}

.button-group {
	display: flex;
	justify-content: center;
	gap: 1em;
}