// Amount Block Component 
.c-amount-block {
	padding: 1em;
	background: #16c4fe;
	background: linear-gradient(to right, #16c4fe, #119ff3);
	
	&--income {
		background: #bee83c;
		background: linear-gradient(90deg, #bee83c 0%, #00be09 100%);
	}
	
	&--expenses {
		background: #ff8181;
		background: linear-gradient(90deg, #ff8181 0%, #ff4e4e 100%);
	}
	
	&__page-title {
		text-align: center;
		color: #fff;
		font-size: 2em;
		font-weight: 100;
	}
	
	&__amount-title {
		text-align: center;
		color: #fff;
		font-size: 3em;
		font-weight: 200;
	}
}