// Expense List component 
.c-expense-list {
	&__upper {
		display: flex;
		justify-content: space-between;
	}
	
	&__items {
		list-style: none;
	}
	
	&__item {
		margin-top: 10px;
		padding: 10px 30px 10px 10px;
		border-radius: 5px;
		border: 1px solid #555252;
		position: relative;
	}
	
	&__item-timestamp {
		display: block;
	}
	
	&__delete {
		position: absolute;
		top: 5px;
		right: 7px;
	}
	
	&__edit {
		position: absolute;
		bottom: 5px;
		right: 7px;
	}			
}