// Expense List component 
.c-expense-list {
	&__upper {
		display: flex;
		justify-content: space-between;
	}
	
	&__items {
		list-style: none;
    display: flex;
    flex-wrap: wrap-reverse;
	}
	
	&__item {
    flex-basis: 100%;
		margin-top: 10px;
		padding: 12px 30px 12px 10px;
		background-color: $c-black-light;
		border-radius: 5px;
		border: 1px solid #555252;
		position: relative;
	}
	
	&__item-timestamp {
		display: block;
		font-size: $font-size-xxs;
	}
	
	&__item-description {
		font-weight: bold;
	}
	
	&__item-amount {
		margin-left: 5px;
		padding: .1em .4em;
		background-color: $c-blue-dark;
		border-radius: 5px;
		font-size: $font-size-xs;
	}
	
	&__delete {
    cursor: pointer;
		position: absolute;
		top: 5px;
		right: 7px;
	}
	
	&__edit {
    cursor: pointer;
		position: absolute;
		bottom: 0;
		right: 7px;
	}			
}