// Expense List component 
.c-expense-list {
	&__upper {
		display: flex;
		justify-content: space-between;
    padding-bottom: 0.5em;
    
    &--alt-layout {
      justify-content: center;
    }
	}
  
  &__helper-tags {
    padding-bottom: 1em;
    
    .button-group {
      justify-content: flex-start;
      padding-top: 1em;
      
      @media(max-width: $bp-small) {
        overflow-x: scroll;
      }
    }
  }
  
  &__helper-tags-upper {
    display: flex;
    align-items: center;
  }
  
  &__checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
	
	&__items {
		list-style: none;
    display: flex;
    flex-wrap: wrap-reverse;
	}
	
	&__item {
    flex-basis: 100%;
		margin-top: 10px;
		padding: 12px 30px 12px 10px;
		background-color: $c-black-light;
		border-radius: 5px;
		border: 1px solid $c-black-lightest;
		position: relative;
	}
	
	&__item-timestamp {
		display: block;
		font-size: $font-size-xxs;
	}
  
  &__item-tag {
    display: inline-block;
    margin-left: 10px;
    
    &::before {
      content: '';
      display: inline-block;
      margin-right: 3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $c-red;
    }
  }
	
	&__item-description {
		font-weight: bold;
	}
	
	&__item-amount {
		margin-left: 5px;
		padding: .1em .4em;
		background-color: $c-blue-dark;
		border-radius: 5px;
		font-size: $font-size-xs;
	}
	
	&__delete {
    cursor: pointer;
		position: absolute;
		top: 5px;
		right: 7px;
    
    svg {
      path {
        transition: all 0.2s ease; 
      }      
    }
    
    &:hover {      
      svg {
        path {
          fill: #E54141;
        }
      }
    }
	}
	
	&__edit {
    cursor: pointer;
		position: absolute;
		bottom: 0;
		right: 7px;
    
    svg {
      path {
        transition: all 0.2s#55d4da; 
      }      
    }
    
    &:hover {      
      svg {
        path {
          fill: #44AFB4;
        }
      }
    }
	}			
}